interface={{ interface }}
dhcp-range={{ dhcp_start }},{{ dhcp_end }},12h
dhcp-option=3,{{ gateway_ip }}
dhcp-option=6,{{ dns_ip }}
server=8.8.8.8
server=8.8.4.4
listen-address=127.0.0.1,{{ gateway_ip }}
bind-interfaces
# Include custom domains for blocking
conf-file={{ base_dir }}/config/custom_blocks.conf
